{
    "extends": "stylelint-config-standard",
    "rules": {
      "string-quotes": "double",
      "color-hex-case": "lower",
      "color-hex-length": "short",
      "selector-attribute-operator-space-after": "always",
      "declaration-block-trailing-semicolon": "always",
      "declaration-colon-space-before": "never",
      "declaration-empty-line-before": null,
      "declaration-colon-space-after": "always",
      "number-leading-zero": null,
      "function-url-quotes": "always",
      "length-zero-no-unit": null,
      "media-feature-colon-space-after": "always",
      "no-missing-end-of-source-newline": null,
      "block-no-empty": null,
      "color-no-invalid-hex": true,
      "rule-empty-line-before": null,
      "no-descending-specificity": null,
      "at-rule-no-unknown": null,
      "comment-empty-line-before": [ "always", {
        "ignore": ["stylelint-commands", "after-comment"]
      } ],
      "no-duplicate-selectors": null,
      
       "no-eol-whitespace": null,
      "max-empty-lines": 2,
      "unit-whitelist": ["em", "rem", "%", "s","vw","vh","deg","fr"]
    }
  }