* {
  margin: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

html {
  font-size: 16px; }

nav {
  margin: 0;
  width: 100vw;
  height: 90vh;
  background-image: url("../Images/home/header.jpg");
  background-position: center;
  /* Center the image */
  background-size: cover;
  background-repeat: no-repeat; }
  nav .pp .logo {
    max-width: 166px;
    margin: 34px 0 34px 70px; }
    nav .pp .logo img {
      height: auto;
      width: 100%; }
  nav div.pp {
    position: absolute;
    top: 0;
    left: 0;
    background: #121c2e;
    max-width: 100%;
    width: 300px;
    height: 100vh;
    overflow-x: hidden;
    z-index: 1;
    transform: translateX(-520px);
    transition: transform 0.5s ease-in; }
  nav .blog-content {
    color: white;
    position: absolute;
    margin-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; }

.desktop-view {
  display: none; }

nav .blog-content > * {
  text-align: center;
  padding: 10px 30px;
  margin: 0 20px; }

nav .blog-content p {
  font-weight: bolder;
  font-size: 60px; }

nav .blog-content span {
  padding-left: 15px; }
  nav .blog-content span::before {
    border-radius: 3px;
    background-color: green;
    width: 6px;
    height: 6px;
    position: absolute; }

.nav-links > li:nth-child(odd) {
  padding: 10px;
  border-top: #292828 solid 1px;
  border-bottom: #292828 solid 1px;
  font-size: 14px;
  list-style: none;
  position: relative; }

.nav-links > li:nth-child(even) {
  padding: 10px;
  font-size: 14px;
  list-style: none;
  position: relative; }

ul.nav-links > li:first-child > a::after {
  content: ">";
  margin-left: 20px; }

ul.nav-links ul {
  display: none; }

ul.nav-links li:hover > ul {
  display: block;
  opacity: 1; }

ul li ul {
  display: block;
  opacity: 1; }

ul.nav-links ul li {
  padding: 10px 0;
  list-style: none;
  border-bottom: #292828 solid 1px; }
  ul.nav-links ul li:last-child {
    padding-top: 10px;
    list-style: none;
    border: none; }

.nav-links li a {
  text-decoration: none;
  color: white;
  margin-left: 24px; }

nav div.pp form#formSearch {
  margin-top: 20px;
  margin-left: 64px; }
  nav div.pp form#formSearch #search {
    height: 24px;
    background-image: url("../Images/Icons/searchIcon.png");
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    border-radius: 5px;
    padding-right: 12px; }

nav > .logo {
  float: left;
  max-width: 166px;
  margin: 0px; }
  nav > .logo img {
    width: 100%;
    margin: 34px; }

.searchModal {
  display: none; }
  .searchModal.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #212424; }
  .searchModal div.search-close {
    position: absolute;
    display: inline-block;
    left: 92%;
    top: 40px; }
  .searchModal form {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none; }
    .searchModal form input#search {
      width: 100%;
      background-color: transparent;
      border: 0;
      padding: 12px;
      border-bottom: 1px solid #748494;
      font-size: 32px; }
      .searchModal form input#search:focus {
        width: 100%;
        background-color: transparent;
        border: 0;
        padding: 12px;
        border-bottom: 1px solid #748494;
        font-size: 32px; }
    .searchModal form button.search-submit-button {
      position: absolute;
      left: 90%;
      top: 12px;
      width: 32px;
      height: 32px;
      background-image: url("../Images/About/enter.png");
      background-position: center;
      background-repeat: no-repeat;
      font-weight: normal;
      border: none;
      background-color: transparent; }

.menu-button {
  float: right;
  margin: 10px; }
  .menu-button div {
    width: 25px;
    height: 3px;
    background-color: #fff6f6;
    margin: 5px;
    transition: all .3s ease; }

.line1.toggle {
  transform: rotate(-45deg) translate(-5px, 6px); }

.line2.toggle {
  opacity: 0; }

.line3.toggle {
  transform: rotate(45deg) translate(-5px, -6px); }

nav div.pp.show {
  transform: translateX(-40px); }

main {
  display: block;
  justify-content: center;
  margin: 0;
  text-align: center; }
  main section {
    margin: 2rem 1rem; }
    main section h4 {
      color: #087afd;
      line-height: 1.4em;
      margin-bottom: 10px; }
    main section h2 {
      color: #151975;
      font-size: 40px;
      line-height: 1.4em;
      margin-bottom: 10px; }
    main section p {
      color: #6b6b6b;
      line-height: 2em; }
    main section img {
      border-radius: 50%;
      margin-bottom: 20px; }
    main section figcaption {
      color: midnightblue;
      font-size: 24px;
      font-weight: bold; }
  main .shortcodes {
    background-color: #8952bd;
    color: aliceblue;
    height: auto;
    text-align: center; }
    main .shortcodes h2 {
      font-size: 60px;
      margin-top: 120px; }
    main .shortcodes h4 {
      margin-top: 20px;
      font-size: 30px; }
    main .shortcodes p {
      margin-top: 20px;
      font-size: 20px;
      margin-bottom: 30px; }
    main .shortcodes img {
      float: left; }
  main .main-woo-commerce {
    background-image: url("../Images/home/woo-commerce.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 40px 20px;
    margin: 20px 0; }
    main .main-woo-commerce > img {
      width: 90%; }
    main .main-woo-commerce .main-woo-commerce-heading {
      color: white;
      font-size: large;
      margin: 20px 0; }
    main .main-woo-commerce .main-woo-commerce-p {
      color: #748494;
      margin: 40px 0; }
    main .main-woo-commerce .main-woo-commerce-button a {
      padding: 15px;
      text-decoration: none;
      background-color: #1292ee;
      color: white;
      border-radius: 2px; }
    main .main-woo-commerce .main-woo-commerce-image img {
      margin-top: 40px;
      width: 100%; }
    main .main-woo-commerce .main-woo-commerce-footer h2 {
      color: #1292ee;
      margin: 20px 0; }
    main .main-woo-commerce .main-woo-commerce-footer h4 {
      margin: 20px 0;
      color: white; }
  main > p {
    width: 70vw;
    margin: 20px auto;
    color: #748494; }
  main .cards div {
    margin-top: 10px;
    text-decoration: none;
    line-height: 30px;
    height: auto;
    border: 1px solid gray;
    box-shadow: inset 0 0 10px white;
    border-radius: 5px;
    padding: 20px; }
    main .cards div:nth-child(3) {
      background-color: midnightblue;
      color: white;
      margin-top: 10px;
      text-decoration: none;
      line-height: 30px;
      height: 60vh;
      border: 1px solid gray;
      box-shadow: inset 0 0 10px white;
      border-radius: 5px;
      padding: 20px; }
    main .cards div img {
      margin-top: 30px;
      width: 64px; }
    main .cards div a {
      text-decoration: none;
      color: darkturquoise; }
  main .slider {
    position: relative; }
    main .slider img {
      display: none;
      width: 70vw;
      height: 80vh;
      margin: 4px auto; }
    main .slider .next, main .slider .last {
      display: none; }
  main .dot {
    height: 10px;
    width: 10px;
    margin: 4px 2px;
    background-color: #a7a4a4;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.2s ease-in;
    cursor: pointer; }
    main .dot:hover {
      background-color: black;
      transform: scale(1.2); }

.dot.active {
  background-color: black;
  transform: scale(1.2); }

footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  background-color: #282835; }
  footer .content {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0 6rem; }
    footer .content p {
      margin: 0 30px;
      margin-bottom: 20px; }
      footer .content p:first-of-type {
        margin: 0;
        font-size: 50px;
        margin-bottom: 20px; }
    footer .content button {
      background-color: #35c735;
      border: 0;
      color: white;
      padding: 15px 20px;
      border-radius: 5px; }
  footer .reg {
    background-color: #1d2430;
    padding: 20px;
    bottom: 0;
    text-align: center;
    color: white; }
    footer .reg p {
      margin: 0 6rem; }
    footer .reg span {
      color: #2c2c2c; }

@media all and (min-width: 650px) {
  nav {
    height: 90vh; }
    nav div.pp {
      transform: translateX(-700px); }
    nav > img {
      width: 20%; }
  main .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    main .cards div {
      width: 40vw; } }

@media all and (min-width: 850px) {
  nav {
    height: 90vh; }
    nav div.pp {
      transform: translateX(-800px); }
    nav > img {
      width: 20%; } }

@media screen and (min-width: 992px) {
  .menu-button {
    display: none; }
  header {
    overflow-x: hidden; }
  nav div.pp, .pp.show {
    display: none; }
  .desktop-view {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    float: right;
    width: 70%;
    margin: 20px auto; }
    .desktop-view ul {
      margin: 0;
      padding: 0; }
      .desktop-view ul.nav-links > li {
        position: relative;
        padding: 0;
        margin: 10px; }
      .desktop-view ul.nav-links ul {
        top: 100%;
        left: 0;
        position: absolute; }
      .desktop-view ul.nav-links li:hover > ul {
        padding: 0;
        display: block;
        margin: 0;
        opacity: 1; }
    .desktop-view .nav-links {
      display: flex; }
  main {
    width: 70vw;
    margin: 0 auto; }
    main .section {
      padding: 0 40px; }
    main section.main-section1, main section.main-section2 {
      display: inline-block;
      margin-right: 32px; }
    main section.main-section3 {
      display: inline-block; }
    main .shortcodes {
      width: 60vw;
      padding: 20px;
      margin: 0 auto; }
    main .cards {
      width: 60vw;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      main .cards div {
        width: 25vw; }
  .desktop-view .nav-links > li:nth-child(odd) {
    padding: 0;
    border-top: none;
    border-bottom: none;
    font-size: 14px;
    list-style: none;
    position: relative; }
  .desktop-view .nav-links > li:nth-child(even) {
    padding: 0;
    font-size: 14px;
    list-style: none;
    position: relative; }
  header nav .logo img {
    margin: 20px 0 0 60px; }
  nav div.desktop-view form#formSearch {
    display: none; }
  nav .searchIcon {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 15px; }
    nav .searchIcon img {
      width: 100%;
      height: 100%; }
  nav .desktop-view > a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 2px; }
  main .slider {
    display: inline-block;
    width: 60vw; }
    main .slider img {
      display: none;
      width: 400px;
      height: 600px;
      margin: 4px auto; }
  main .main-woo-commerce {
    margin-left: auto;
    margin-right: auto; } }
